/* Font HuiFontP */
@font-face {
	font-family: 'HuiFontPRegular';
	src: url(../font/HuiFontP29.eot); /* IE */
}

@font-face {
	font-family: 'HuiFontPRegular';
	src: local('HuiFontP Regular'), /*フォントがローカルにインストールされている時の指定*/   
		           
		           local('HuiFontP'), url('../font/HuiFontP29.ttf')
		format('truetype');
	/* Safari、Chrome、Firefox、Opera */
}

body {
	background-color: #eee;
	background-image: url("wallpaper.png");
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
}

.image-shot {
	background-color: rgba(0, 0, 255, 0.05);
	margin-top: 10px;
	margin-bottom: 10px;
}

.pic {
	width: 200px;
	height: 200px;
}

#content {
	width: 100%;
	position: relative;
	margin-right: 20px;
}

.deco {
	font-family: 'HuiFontPRegular', cursive;
}

#content li {
	width: 240px;
	display: block;
}

.cell {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.7);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 2px 30px 2px; /* CSS3草案 */
	-webkit-border-radius: 2px 30px 2px; /* Safari,Google Chrome用 */
	-moz-border-radius: 2px 30px 2px;
	border: 1px solid white; /* Firefox用 */
}

.Ribon {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 5px;
	width: 210px;
	height: 210px;
	overflow: hidden;
}

.ribon-text {
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.8);
	position: absolute;
	z-index: 2;
	top: 19px;
	left: -28px;
	width: 125px;
	height: 22px;
	padding-top: 8px;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
	background-color: rgba(0, 100, 200, 0.6);
	overflow: hidden;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

#main {
	margin-top: 60px;
}

.header {
	margin-top: 10px;
}

.stars {
	height: 30px;
}

.center {
	text-align: center;
}

.star {
	color: #44c0fe;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.6), 0 1px 1px
		rgba(0, 0, 0, 0.5);
}

.star:before {
	color: #0036b4;
	-webkit-mask-image: -webkit-linear-gradient(-85deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) );
}

.star:after {
	color: #d7edff;
	-webkit-mask-image: -webkit-linear-gradient(-85deg, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.25) 48%, rgba(0, 0, 0, 0) 48%,
		rgba(0, 0, 0, 0) );
}