/* Font HuiFontP */
@font-face {
	font-family: 'HuiFontPRegular';
	src: url(../font/HuiFontP29.eot); /* IE */
}

@font-face {
	font-family: 'HuiFontPRegular';
	src: local('HuiFontP Regular'), /*フォントがローカルにインストールされている時の指定*/
		           
		           
		                    local('HuiFontP'), url('../font/HuiFontP29.ttf')
		format('truetype');
	/* Safari、Chrome、Firefox、Opera */
}

body {
	background-color: #eee;
	background-image: url("img/wallpaper.png?201208080923");
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
}

.image {
	margin: 20px;
	border: solid 10px white;
}

.image-shot {
	background-color: rgba(30, 30, 30, 0.02);
	border-radius: 3px 25px 3px; /* CSS3草案 */
	-webkit-border-radius: 3px 25px 3px; /* Safari,Google Chrome用 */
	-moz-border-radius: 3px 25px 3px;
	color: rgba(80, 80, 80, 0.4);
	margin-top: 10px;
	margin-bottom: 10px;
	min-width: 200px;
	min-height: 30px;
}

text,textarea,dropdown {
	border: 1px solid #777;
	padding: 5px;
	color: #999;
	background: #fff;
	/* Webkit */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#fff) );
	/* Firefox */
	background: -moz-linear-gradient(top, #eee, #fff);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,
		endColorstr=#ffffffff );
	zoom: 1;
}

.pic {
	width: 200px;
	height: 200px;
}

#content {
	width: 100%;
	position: relative;
	margin-right: 20px;
}

.deco {
	font-family: 'HuiFontPRegular', cursive;
}

.icon {
	font-family: 'Wingdings';
}

#content li {
	width: 240px;
	display: block;
}

.cell {
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 1.0);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 6px 40px 6px; /* CSS3草案 */
	-webkit-border-radius: 6px 40px 6px; /* Safari,Google Chrome用 */
	-moz-border-radius: 6px 40px 6px; /* Firefox用 */
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.cell2 {
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 0.1);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 6px 40px 6px; /* CSS3草案 */
	-webkit-border-radius: 6px 40px 6px; /* Safari,Google Chrome用 */
	-moz-border-radius: 6px 40px 6px; /* Firefox用 */
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.ribon {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 90px;
	height: 90px;
	overflow: hidden;
}

a .no-hover:HOVER {
	text-decoration: none;
	border-style: none;
}

.ribon-text {
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
	position: absolute;
	z-index: 2;
	top: 19px;
	left: -33px;
	width: 125px;
	height: 22px;
	padding-top: 8px;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: rgba(230, 40, 40, 0.9);
	overflow: hidden;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.color-red {
	background-color: rgba(230, 40, 40, 0.9);
}

.color-green {
	background-color: rgba(40, 230, 40, 0.9);
}

.color-blue {
	background-color: rgba(40, 40, 230, 0.9);
}

.feeling {
	color: #cccccc;
	font-size: x-large;
}

.feeling:HOVER {
	color: #6666ff;
}

.feeling:VISITED {
	color: #6666ff;
}

#main {
	margin-top: 60px;
}

.caption {
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgba(60, 60, 60, 0.7);
}

.page-menu {
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment {
	margin-top: 10px;
	margin-bottom: 10px;
	color: rgba(60, 60, 60, 0.7);
}

.stars {
	z-index: 1;
	height: 25px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.star {
	font-size: large;
	color: rgba(130, 130, 130, 0.4);
}

.actions:HOVER {
	display: block;
}

.actions {
	display: none;
}