/* Font HuiFontP */
@font-face {
	font-family: 'HuiFontPRegular';
	src: url(../font/HuiFontP29.eot); /* IE */
}

@font-face {
	font-family: 'HuiFontPRegular';
	src: local('HuiFontP Regular'), /*フォントがローカルにインストールされている時の指定*/         
		           
		                 local('HuiFontP'), url('../font/HuiFontP29.ttf')
		format('truetype');
	/* Safari、Chrome、Firefox、Opera */
}

body {
	background-color: #eee;
	background-image: url("wallpaper2.png?201208071516");
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
}

.image-shot {
	background-color: rgba(30, 30, 30, 0.02);

	border: 1px dotted rgba(255, 255, 255, 0.3);
	border-radius: 2px 45px 2px; /* CSS3草案 */
	-webkit-border-radius: 2px 45px 2px; /* Safari,Google Chrome用 */
	-moz-border-radius: 2px 45px 2px;
	color: rgba(80, 80, 80, 0.4);
}

.pic {
	width: 200px;
	height: 200px;
}

#content {
	width: 100%;
	position: relative;
	margin-right: 20px;
}

.deco {
	font-family: 'HuiFontPRegular', cursive;
}

#content li {
	width: 240px;
	display: block;
}

.cell {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	border: 1px solid white;
	background-color: rgba(255, 255, 255, 1.0);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px 60px 5px; /* CSS3草案 */
	-webkit-border-radius: 5px 60px 5px; /* Safari,Google Chrome用 */
	-moz-border-radius: 5px 60px 5px; /* Firefox用 */
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}

.ribon {
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 5px;
	width: 220px;
	height: 220px;
	overflow: hidden;
}

a .no-hover:HOVER {
	text-decoration:none;
	border-style:none;
}

.ribon-text {
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
	position: absolute;
	z-index: 2;
	top: 19px;
	left: -33px;
	width: 125px;
	height: 22px;
	padding-top: 8px;
	text-align: center;
	font-size: 11px;
	color: #ffffff;
	background-color: rgba(230, 30, 40, 0.9);
	overflow: hidden;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

.feeling {
	color: #cccccc;
	font-size: x-large;
}

.feeling:HOVER {
	color: #6666ff;
}

.feeling:VISITED {
	color: #6666ff;
}

#main {
	margin-top: 60px;
}

.title {
	margin-top: 10px;
	margin-bottom: 30px;
	color: rgba(90,90,90, 0.8);
}

.stars {
	z-index: 1;
	height: 25px;
}

.center {
	text-align: center;
}

.star {
	z-index: 1;
	color: #44c0fe;
	font-size: large;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.6), 0 1px 1px
		rgba(0, 0, 0, 0.5);
}

.star:before {
	color: #0036b4;
	-webkit-mask-image: -webkit-linear-gradient(-85deg, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 1) );
}

.star:after {
	color: #d7edff;
	-webkit-mask-image: -webkit-linear-gradient(-85deg, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0.25) 48%, rgba(0, 0, 0, 0) 48%,
		rgba(0, 0, 0, 0) );
}

.actions:HOVER {
	display: block;
}

.actions {
	display: none;
}