@charset "utf-8";

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.half-width {
	max-width: 50%;
}

.half-height {
	max-height: 50%;
}

.margin-top-default {
	margin-top: 14px;
}

.margin-bottom-default {
	margin-bottom: 14px;
}

.margin-right-default {
	margin-right: 14px;
}

.margin-left-default {
	margin-left: 14px;
}

/* Font HuiFontP */
@font-face {
	font-family: 'HuiFontPRegular';
	src: url('../font/HuiFontP29.eot');
}

@font-face {
	font-family: 'HuiFontPRegular';
	src: local('HuiFontP Regular'), local('HuiFontP'),
		url('../font/HuiFontP29.ttf') format('truetype');
}

.deco {
	/* font-family: 'HuiFontPRegular', cursive; */
}

.opacity90 {
	filter: alpha(opacity =                     90);
	-moz-opacity: 0.90;
	opacity: 0.90;
}

.opacity80 {
	filter: alpha(opacity =                     80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

.opacity70 {
	filter: alpha(opacity =                     70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}

.opacity60 {
	filter: alpha(opacity =                     60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}

.opacity50 {
	filter: alpha(opacity =                     50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}

.opacity40 {
	filter: alpha(opacity =                     40);
	-moz-opacity: 0.40;
	opacity: 0.40;
}

.opacity30 {
	filter: alpha(opacity =                     30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.opacity20 {
	filter: alpha(opacity =                     20);
	-moz-opacity: 0.20;
	opacity: 0.20;
}

.opacity10 {
	filter: alpha(opacity =                     10);
	-moz-opacity: 0.10;
	opacity: 0.10;
}

.padding5 {
	padding: 5;
}

.padding10 {
	padding: 10;
}

.padding20 {
	padding: 20;
}

.padding30 {
	padding: 30;
}

.color-red {
	background-color: rgba(230, 40, 40, 0.9);
}

.color-green {
	background-color: rgba(40, 230, 40, 0.9);
}

.color-blue {
	background-color: rgba(40, 40, 230, 0.9);
}

.xx-small {
	font-size: xx-small;
}

.x-small {
	font-size: x-small;
}

.small {
	font-size: small;
}

.large {
	font-size: large;
}

.x-large {
	font-size: x-large;
}

.xx-large {
	font-size: xx-large;
}

.em2 {
	font-size: 2em;
}

.em3 {
	font-size: 3em;
}

.em4 {
	font-size: 4em;
}

.em5 {
	font-size: 5em;
}

.em6 {
	font-size: 6em;
}

.em7 {
	font-size: 7em;
}

.bold {
	font-weight: bold;
}

.profile .item-group {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-bottom: 18px;
	*zoom: 1;
	/* shape ----------------------------------------------------------------*/
}

.profile .item-group:before,.profile .item-group:after {
	/* effect ---------------------------------------------------------------*/
	display: table;
	content: "";
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.profile .item-group:after {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	clear: both;
	/* shape ----------------------------------------------------------------*/
}

.profile .item-label {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	float: left;
	text-align: right;
	/* shape ----------------------------------------------------------------*/
	width: 140px;
}

.profile .items {
	/* effect ---------------------------------------------------------------*/
	*display: inline-block;
	color: rgba(0, 0, 0, 0.60);
	font-weight: bold;
	/* layout ---------------------------------------------------------------*/
	*padding-left: 20px;
	margin-left: 160px;
	*margin-left: 0;
	/* shape ----------------------------------------------------------------*/
}

.profile .items:first-child {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	*padding-left: 160px;
	/* shape ----------------------------------------------------------------*/
}

.profile .help-block {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-top: 9px;
	margin-bottom: 0;
	/* shape ----------------------------------------------------------------*/
}

.profile .form-actions {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	padding-left: 160px;
	/* shape ----------------------------------------------------------------*/
}

.link {
	cursor: pointer;
}

.clear-both {
	clear: both;
}

.break-word {
	word-wrap: break-word;
}


.gradient {
	/* effect ---------------------------------------------------------------*/
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, rgba(0, 0, 0, 0) ), color-stop(86%, rgba(0, 0, 0, 1) ),
		color-stop(100%, rgba(0, 0, 0, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100% );
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100% ); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0)
		0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100% ); /* IE10+ */
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#00000000',
		endColorstr='#000000', GradientType=1 );
	/* IE6-8 fallback on horizontal gradient */
	/* layout ---------------------------------------------------------------*/
	z-index: -100;
	/* shape ----------------------------------------------------------------*/
}

.gradient-white {
	/* effect ---------------------------------------------------------------*/
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC44NiIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0)
		0%, rgba(255, 255, 255, 0.86) 60%, rgba(255, 255, 255, 1) 70% );
	/* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%, rgba(255, 255, 255, 0) ),
		color-stop(60%, rgba(255, 255, 255, 0.86) ),
		color-stop(70%, rgba(255, 255, 255, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0)
		0%, rgba(255, 255, 255, 0.86) 60%, rgba(255, 255, 255, 1) 70% );
	/* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0)
		0%, rgba(255, 255, 255, 0.86) 60%, rgba(255, 255, 255, 1) 70% );
	/* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0)
		0%, rgba(255, 255, 255, 0.86) 60%, rgba(255, 255, 255, 1) 70% );
	/* IE10+ */
	background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%,
		rgba(255, 255, 255, 0.86) 60%, rgba(255, 255, 255, 1) 70% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(    startColorstr='#00ffffff',
		endColorstr='#ffffff', GradientType=1 );
	/* IE6-8 fallback on horizontal gradient */
	/* layout ---------------------------------------------------------------*/
	z-index: -100;
	/* shape ----------------------------------------------------------------*/
}
