@charset "utf-8";

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.half-width {
	max-width: 50%;
}

.half-height {
	max-height: 50%;
}

.margin-top-default {
	margin-top: 14px;
}

.margin-bottom-default {
	margin-bottom: 14px;
}

.margin-right-default {
	margin-right: 14px;
}

.margin-left-default {
	margin-left: 14px;
}

/* Font HuiFontP */
@font-face {
	font-family: 'HuiFontPRegular';
	src: url('../font/HuiFontP29.eot');
}

@font-face {
	font-family: 'HuiFontPRegular';
	src: local('HuiFontP Regular'), local('HuiFontP'),
		url('../font/HuiFontP29.ttf') format('truetype');
}

.deco {
	/* font-family: 'HuiFontPRegular', cursive; */
}

.opacity90 {
	filter: alpha(opacity =                     90);
	-moz-opacity: 0.90;
	opacity: 0.90;
}

.opacity80 {
	filter: alpha(opacity =                     80);
	-moz-opacity: 0.80;
	opacity: 0.80;
}

.opacity70 {
	filter: alpha(opacity =                     70);
	-moz-opacity: 0.70;
	opacity: 0.70;
}

.opacity60 {
	filter: alpha(opacity =                     60);
	-moz-opacity: 0.60;
	opacity: 0.60;
}

.opacity50 {
	filter: alpha(opacity =                     50);
	-moz-opacity: 0.50;
	opacity: 0.50;
}

.opacity40 {
	filter: alpha(opacity =                     40);
	-moz-opacity: 0.40;
	opacity: 0.40;
}

.opacity30 {
	filter: alpha(opacity =                     30);
	-moz-opacity: 0.30;
	opacity: 0.30;
}

.opacity20 {
	filter: alpha(opacity =                     20);
	-moz-opacity: 0.20;
	opacity: 0.20;
}

.opacity10 {
	filter: alpha(opacity =                     10);
	-moz-opacity: 0.10;
	opacity: 0.10;
}

.padding5 {
	padding: 5;
}

.padding10 {
	padding: 10;
}

.padding20 {
	padding: 20;
}

.padding30 {
	padding: 30;
}

.color-red {
	background-color: rgba(230, 40, 40, 0.9);
}

.color-green {
	background-color: rgba(40, 230, 40, 0.9);
}

.color-blue {
	background-color: rgba(40, 40, 230, 0.9);
}

.xx-small {
	font-size: xx-small;
}

.x-small {
	font-size: x-small;
}

.small {
	font-size: small;
}

.large {
	font-size: large;
}

.x-large {
	font-size: x-large;
}

.xx-large {
	font-size: xx-large;
}

.em2 {
	font-size: 2em;
}

.em3 {
	font-size: 3em;
}

.em4 {
	font-size: 4em;
}

.em5 {
	font-size: 5em;
}

.em6 {
	font-size: 6em;
}

.em7 {
	font-size: 7em;
}

.bold {
	font-weight: bold;
}

.profile .item-group {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-bottom: 18px;
	*zoom: 1;
	/* shape ----------------------------------------------------------------*/
}

.profile .item-group:before,.profile .item-group:after {
	/* effect ---------------------------------------------------------------*/
	display: table;
	content: "";
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.profile .item-group:after {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	clear: both;
	/* shape ----------------------------------------------------------------*/
}

.profile .item-label {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	float: left;
	text-align: right;
	/* shape ----------------------------------------------------------------*/
	width: 140px;
}

.profile .items {
	/* effect ---------------------------------------------------------------*/
	*display: inline-block;
	color: rgba(0, 0, 0, 0.60);
	font-weight: bold;
	/* layout ---------------------------------------------------------------*/
	*padding-left: 20px;
	margin-left: 160px;
	*margin-left: 0;
	/* shape ----------------------------------------------------------------*/
}

.profile .items:first-child {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	*padding-left: 160px;
	/* shape ----------------------------------------------------------------*/
}

.profile .help-block {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-top: 9px;
	margin-bottom: 0;
	/* shape ----------------------------------------------------------------*/
}

.profile .form-actions {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	padding-left: 160px;
	/* shape ----------------------------------------------------------------*/
}

.link {
	cursor: pointer;
}

.clear-both {
	clear: both;
}

.break-word {
	word-wrap: break-word;
}