@charset "utf-8";

body {
	/* effect ---------------------------------------------------------------*/
	background-color: #fff;
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.home {
	/* effect ---------------------------------------------------------------*/
	background-color: #eee;
	background-image: url("../img/ichimatsu.png?201208131742");
	background-position: left top;
	background-attachment: fixed;
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

#default {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	
}

html {
	-webkit-text-size-adjust: 110%
}

#copyrights {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	text-align: center;
	white-space: nowrap;
	padding: 10px;
	/* shape ----------------------------------------------------------------*/
	width: 100%;
}

#navigation {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(255, 255, 255, 0.9);
	/* layout ---------------------------------------------------------------*/
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 0px;
	z-index: 100;
	/* shape ----------------------------------------------------------------*/
	width : 100%;
	min-width: 640px;
}

#navi-menu {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	position: relative;
	word-wrap: none;
	/* shape ----------------------------------------------------------------*/
}

#sns{
}

#sns-link{
	display: none;
}

#card-search-box {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-top: 20px;
	/* shape ----------------------------------------------------------------*/
}

#float-bottun {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(255, 255, 255, 0.4);
	/* layout ---------------------------------------------------------------*/
	z-index: 3;
	position: fixed;
	top: 55px;
	text-align: center;
	padding-bottom: 5px;
	/* shape ----------------------------------------------------------------*/
	min-width: 640px; /* view port */
	width: 100%;
	height: 50px;
	z-index: 3;
}

#float-box  {
	/* effect ---------------------------------------------------------------*/
	display: none;
	/* layout ---------------------------------------------------------------*/
	position: absolute;
	z-index: 3;
	/* shape ----------------------------------------------------------------*/
}

#read-cards {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	padding: 20px;
	text-align: center;
	/* shape ----------------------------------------------------------------*/
	width: 100%;
	height: 60px;
}

#origin {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(0, 0, 0, 0.6);
	color: rgba(255, 255, 255, 0.6);
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
	/* layout ---------------------------------------------------------------*/
	z-index: 4;
	position: fixed;
	top: 120px;
	left: -15px;
	/* shape ----------------------------------------------------------------*/
	width: 40px;
	height: 240px;
	border-radius: 0px 40px 6px 0px;
	-webkit-border-radius: 0px 40px 6px 0px;
	-moz-border-radius: 0px 40px 6px 0px;
	height: 240px;
}

#write {
	/* effect ---------------------------------------------------------------*/
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.6);
	color: rgba(0, 0, 0, 0.6);
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
	text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.3);
	/* layout ---------------------------------------------------------------*/
	z-index: 5;
	position: fixed;
	left: -10px;
	top: 25%;
	/* shape ----------------------------------------------------------------*/
	width: 30px;
	height: 80%;
	border-radius: 0px 40px 6px 0px;
	-webkit-border-radius: 0px 40px 6px 0px;
	-moz-border-radius: 0px 40px 6px 0px;
}

#comment-area {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(255, 255, 255, 0.6);
	text-align: center;
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
	display: none;
	/* layout ---------------------------------------------------------------*/
	z-index: 5;
	position: fixed;
	top: 25%;
	left: 15%;
	padding-top: 30px;
	padding-bottom: 10px;
	/* shape ----------------------------------------------------------------*/
	width: 70%;
	border-radius: 5px 25px 5px;
	-webkit-border-radius: 5px 25px 5px;
	-moz-border-radius: 5px 25px 5px;
	padding-top: 30px;
}

#bottom-label {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.3);
	font-size: x-large;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0px 0px 3px rgba(0, 255, 0, 0.2);
	/* layout ---------------------------------------------------------------*/
	text-align: center;
	position: fixed;
	bottom: -5px;
	right: -5px;
	padding: 20px;
	z-index: 20;
	/* shape ----------------------------------------------------------------*/
	border-radius: 25px 0px 0px 0px;
	-webkit-border-radius: 25px 0px 0px 0px;
	-moz-border-radius: 25px 0px 0px 0px;
}

#full-body {
	position: absolute;
	height: 100%;
	width: 100%;
}

#main {
	/* effect ---------------------------------------------------------------*/
	display: none;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
	/* layout ---------------------------------------------------------------*/
	margin-top: 100px;
	margin-bottom: 60px;
	/* shape ----------------------------------------------------------------*/
	width: 100%;
}

#main :AFTER {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	clear: both;
	/* shape ----------------------------------------------------------------*/
}

#content {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	position: relative;
	margin-bottom: 20px;
	/* shape ----------------------------------------------------------------*/
	/* width: 100%; */
}

#content li {
	/* effect ---------------------------------------------------------------*/
	display: block;
	/* layout ---------------------------------------------------------------*/
	position: relative;
	/* shape ----------------------------------------------------------------*/
	/* width: 250px; */
}

#children {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	position: absolute;
	left: -28px;
	/* shape ----------------------------------------------------------------*/
	width: 100%;
}

#children li {
	/* effect ---------------------------------------------------------------*/
	display: block;
	/* layout ---------------------------------------------------------------*/
	position: relative;
	/* shape ----------------------------------------------------------------*/
	/* width: 250px; */
}

#search-result {
	/* effect ---------------------------------------------------------------*/
	/* background-color: rgba(255, 0, 0, 0.1); */
	display: block;
	/* layout ---------------------------------------------------------------*/
	position: relative;
	left: 140px;
	/* shape ----------------------------------------------------------------*/
	width: 60%;
}

#search-result li {
	/* effect ---------------------------------------------------------------*/
	display: block;
	/* layout ---------------------------------------------------------------*/
	position: relative;
	margin-bottom: 10px;
	/* shape ----------------------------------------------------------------*/
	/* width: 160px; */
}

#content li a:HOVER {
	text-decoration: none;
}

#ajax {
	/* effect ---------------------------------------------------------------*/
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
	text-align: center;
	/* layout ---------------------------------------------------------------*/
	position: fixed;
	top: 240px;
	left: 35%;
	padding: 30px;
	margin-bottom: 10px;
	z-index: 10;
	/* shape ----------------------------------------------------------------*/
	border-radius: 5px 25px 5px;
	-webkit-border-radius: 5px 25px 5px;
	-moz-border-radius: 5px 25px 5px;
	width: 30%;
	position: fixed;
	border-radius: 6px 40px 6px
}

#error-dialog {
	/* effect ---------------------------------------------------------------*/
	border: 1px solid rgba(255, 0, 0, 0.3);
	background-color: rgba(255, 0, 0, 0.6);
	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
	text-align: center;
	display: none;
	/* layout ---------------------------------------------------------------*/
	padding: 10px;
	position: fixed;
	top: 20%;
	left: 35%;
	z-index: 9;
	/* shape ----------------------------------------------------------------*/
	border-radius: 5px 25px 5px;
	-webkit-border-radius: 5px 25px 5px;
	-moz-border-radius: 5px 25px 5px;
	width: 30%;
	min-width: 250px;
}

#image-origin {
	/* effect ---------------------------------------------------------------*/
	background-color: #eee;
	background-image: url("../img/ichimatsu.png?201208131742");
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	max-width: 100%;
	max-height: 100%;
}

#cover {
	/* effect ---------------------------------------------------------------*/
	/* background-color: rgba(0, 0, 0, 0.4); */
	font-size: larger;
	display: none;
/* 	box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.6); */
	/* layout ---------------------------------------------------------------*/
/* 	position: fixed;
	top: 10%;
	z-index: 4;
 */	
 	position: relative;
	left: 10%;
	padding: 30px;
	/* shape ----------------------------------------------------------------*/
	width: 80%;
	max-height: 80%;
	border-radius: 5px 25px 5px;
	-webkit-border-radius: 5px 25px 5px;
	-moz-border-radius: 5px 25px 5px;
}

#title {
	/* effect ---------------------------------------------------------------*/
	font-size: 4em;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0px 0px 3px rgba(0, 0, 255, 0.3);
	font-weight: bolder;
	visibility:hidden;
	/* layout ---------------------------------------------------------------*/
	position: fixed;
	z-index: 2;
	/* bottom: 30px; */
	top: 70px;
	left: 30px;
	/* shape ----------------------------------------------------------------*/
}

#input-window {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	position: relative;
	left: 10%;
	margin-top: 30px;
	margin-bottom: 60px;
	/* shape ----------------------------------------------------------------*/
	min-width: 540px;
	width: 82%;
}

#add-card
{
/* 	background-color: rgba(0,0,255,1);
	position: fixed;
	top: 60px;
	left: 0px;
	z-index: 500;
	text-align: center;
	margin: 0px;
	padding: 10px;
	width: 100%;
 */}


#latest-info {
	list-style-type: none;
}

#latest-info li {
	padding: 10px;
}

#sns-like {
	/* padding: 20px; */
}

#select-original-card {
	display: none;
	left: 10px;
	top: 5px;
}

#select-small-card {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	/* layout ---------------------------------------------------------------*/
	padding: 14px;
	left: -5px;
	top : 42px;
	/* shape ----------------------------------------------------------------*/
/* 	width: 60px;
	height: 60px; */
	height: 40px;
	border-radius: 0px 0px 25px 0px;
	-webkit-border-radius: 0px 0px 25px 0px;
	-moz-border-radius: 0px 0px 25px 0px;
}


#folder-form{
	display: none;
}

.sns-like-button {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(0, 0, 0, 0.2);
	/* layout ---------------------------------------------------------------*/
	float: left;
	margin: 10px;
	text-align: center;
	padding: 5px;
	/* shape ----------------------------------------------------------------*/
	/* width: 160px; */
}


.input-text {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	width: 80%;
	min-width: 200px;
}

.input-search {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	width: 75%;
	min-width: 170px;
}

.input-short {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	position: relative;
	/* shape ----------------------------------------------------------------*/
	width: 40%;
	min-width: 140px;
}

.tab-header {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 20px;
	/* shape ----------------------------------------------------------------*/
}

.btn-cell {
	/* effect ---------------------------------------------------------------*/
/* 	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3); */
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
/* 	border-radius: 3px 12px 3px;
	-webkit-border-radius: 3px 12px 3px;
	-moz-border-radius: 3px 12px 3px; */
}

.image-shot {
	/* effect ---------------------------------------------------------------*/
	color: rgba(80, 80, 80, 0.4);
	background-color: rgba(0, 0, 0, 0.05);
	filter: alpha(opacity =               80);
	-moz-opacity: 0.80;
	opacity: 0.80;
	/* layout ---------------------------------------------------------------*/
	margin-bottom: 7px;
	/* shape ----------------------------------------------------------------*/
	/* border-radius: 3px 20px 3px;
	-webkit-border-radius: 3px 20px 3px;
	-moz-border-radius: 3px 20px 3px; */
	min-width: 230px;
	min-height: 10px;
}

.image-thumb {
	/* effect ---------------------------------------------------------------*/
	color: rgba(80, 80, 80, 0.4);
	background-color: rgba(0, 0, 0, 0.05);
	filter: alpha(opacity =               80);
	-moz-opacity: 0.80;
	opacity: 0.80;
	/* layout ---------------------------------------------------------------*/
	margin-right: 5px;
	/* shape ----------------------------------------------------------------*/
	border-radius: 3px 20px 3px;
	-webkit-border-radius: 3px 20px 3px;
	-moz-border-radius: 3px 20px 3px;
	min-width: 120px;
	min-height: 10px;
}

.image-icon {
	/* effect ---------------------------------------------------------------*/
	color: rgba(80, 80, 80, 0.4);
	background-color: rgba(0, 0, 0, 0.05);
	filter: alpha(opacity =               80);
	-moz-opacity: 0.80;
	opacity: 0.80;
	/* layout ---------------------------------------------------------------*/
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 0.5em;
	float: left;
	/* shape ----------------------------------------------------------------*/
	border-radius: 1px 6px 1px;
	-webkit-border-radius: 1px 6px 1px;
	-moz-border-radius: 1px 6px 1px;
	width: 32px;
}

.image-anonymous {
	/* effect ---------------------------------------------------------------*/
	color: rgba(80, 80, 80, 0.4);
	background-color: rgba(0, 0, 0, 0.05);
	filter: alpha(opacity =               80);
	-moz-opacity: 0.80;
	opacity: 0.80;
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	border-radius: 1px 6px 1px;
	-webkit-border-radius: 1px 6px 1px;
	-moz-border-radius: 1px 6px 1px;
	height: 48px;
	width: 48px;
}

.card-main:AFTER {
	clear: both;
}

.card-sub:AFTER {
	clear: both;
}

.card-icon {
	position: absolute;
	width: 44px;
	float: left;
}

.card-subtext {
	margin-left: 44px;
}

.card {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	position: relative;
	/* shape ----------------------------------------------------------------*/
	width: 250px;
}

.search-thumb {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	position: absolute;
	/* shape ----------------------------------------------------------------*/
	/* width: 160px; */
}

.text,.textarea {
	/* effect ---------------------------------------------------------------*/
	border: 1px solid #777;
	color: #999;
	background: #fff;
	/* Webkit */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee),
		to(#fff) );
	/* Firefox */
	background: -moz-linear-gradient(top, #eee, #fff);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffeeeeee,
		endColorstr=#ffffffff );
	zoom: 1;
	/* layout ---------------------------------------------------------------*/
	/* padding: 5px; */
	/* shape ----------------------------------------------------------------*/
}

.btn-submit {
	/* effect ---------------------------------------------------------------*/
	border: 1px solid rgba(0, 0, 0, 0.2);
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	border-radius: 0px 12px 12px 0px;
	-webkit-border-radius: 0px 12px 12px 0px;
	-moz-border-radius: 0px 12px 12px 0px;
}

.child {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: large;
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	border-radius: 3px 12px 3px;
	-webkit-border-radius: 3px 12px 3px;
	-moz-border-radius: 3px 12px 3px;
	width: 100px;
}

.cell {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: large;
	/* layout ---------------------------------------------------------------*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	/* shape ----------------------------------------------------------------*/
	border-radius: 5px 25px 5px;
	-webkit-border-radius: 5px 25px 5px;
	-moz-border-radius: 5px 25px 5px;
}

.cell2 {
	/* effect ---------------------------------------------------------------*/
	border: 1px solid rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	font-size: large;
	/* layout ---------------------------------------------------------------*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	/* shape ----------------------------------------------------------------*/
	border-radius: 5px 25px 5px;
	-webkit-border-radius: 5px 25px 5px;
	-moz-border-radius: 5px 25px 5px;
}

.ribon {
	/* effect ---------------------------------------------------------------*/
	overflow: hidden;
	/* layout ---------------------------------------------------------------*/
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 0px;
	/* shape ----------------------------------------------------------------*/
	width: 90px;
	height: 90px;
}

.ribon-text {
	/* effect ---------------------------------------------------------------*/
	color: #ffffff;
	text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.6);
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	overflow: hidden;
	/* layout ---------------------------------------------------------------*/
	position: absolute;
	z-index: 2;
	top: 19px;
	left: -33px;
	padding-top: 8px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	/* shape ----------------------------------------------------------------*/
	width: 125px;
	height: 22px;
}

.caption {
	/* effect ---------------------------------------------------------------*/
	color: rgba(60, 60, 60, 0.7);
	word-wrap: break-word;
	/* layout ---------------------------------------------------------------*/
	margin: 5px;
	/* shape ----------------------------------------------------------------*/
}

.break-word {
	word-wrap: break-word;
}

.caption2 {
	/* effect ---------------------------------------------------------------*/
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.1);
	/* layout ---------------------------------------------------------------*/
	margin: 3px;
	/* shape ----------------------------------------------------------------*/
}

.page-menu {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	padding-top: 20px;
	padding-bottom: 10px;
	margin: 0 auto;
	/* shape ----------------------------------------------------------------*/
}

.comment {
	/* effect ---------------------------------------------------------------*/
	color: rgba(60, 60, 60, 0.7);
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.small-tab {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	padding-top: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	/* shape ----------------------------------------------------------------*/
	width: 40px;
}

.vertical-text {
	/* effect ---------------------------------------------------------------*/
	display: block;
	background-color: rgba(0, 0, 0, 0.1);
	text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.0);
	/* layout ---------------------------------------------------------------*/
	position: absolute;
	z-index: 20;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	padding: 8px;
	text-align: left;
	top: 300px;
	left: -200px;
	/* shape ----------------------------------------------------------------*/
	width: 500px;
	height: 50px;
}

.tab-button {
	/* effect ---------------------------------------------------------------*/
	cursor: pointer;
	font-size: xx-large;
	color: rgba(180, 180, 180, 0.8);
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.8);
	/* layout ---------------------------------------------------------------*/
	z-index: 10;
	position: absolute;
	right: 26px;
	top: 20px;
	text-align: center;
	/* shape ----------------------------------------------------------------*/
}

.close-button {
	/* effect ---------------------------------------------------------------*/
	cursor: pointer;
	font-size: 18px;
	background-color: rgba(0, 0, 0, 0.4);
	color: rgba(180, 180, 180, 0.6);
	text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.8);
	/* layout ---------------------------------------------------------------*/
	z-index: 2;
	position: absolute;
	right: 12px;
	top: 6px;
	text-align: center;
	padding: 3px;
	/* shape ----------------------------------------------------------------*/
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	width: 24px;
	height: 24px;
}

.close-button a {
	/* effect ---------------------------------------------------------------*/
	color: rgba(180, 180, 180, 0.8);
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.height160 {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	min-height: 160px;
}

.star {
	/* effect ---------------------------------------------------------------*/
	color: rgba(130, 130, 130, 0.4);
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.card-info {
	/* effect ---------------------------------------------------------------*/
	color: rgba(130, 130, 130, 0.4);
	font-size: xx-small;
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.card-info a {
	/* effect ---------------------------------------------------------------*/
	color: rgba(130, 130, 130, 0.4);
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.card-info a:HOVER {
	/* effect ---------------------------------------------------------------*/
	color: rgba(00, 136, 204, 1.0);
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
}

.float-left {
	float: left;
}

.gradient {
	/* effect ---------------------------------------------------------------*/
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NiUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 86%, rgba(0,0,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 86%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 86%,rgba(0,0,0,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 86%,rgba(0,0,0,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 86%,rgba(0,0,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	/* layout ---------------------------------------------------------------*/
	z-index: -100;
	/* shape ----------------------------------------------------------------*/
}

.gradient-white {
	/* effect ---------------------------------------------------------------*/
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC44NiIvPgogICAgPHN0b3Agb2Zmc2V0PSI3MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.86) 60%, rgba(255,255,255,1) 70%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0.86)), color-stop(70%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.86) 60%,rgba(255,255,255,1) 70%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.86) 60%,rgba(255,255,255,1) 70%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.86) 60%,rgba(255,255,255,1) 70%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.86) 60%,rgba(255,255,255,1) 70%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	/* layout ---------------------------------------------------------------*/
	z-index: -100;
	/* shape ----------------------------------------------------------------*/
}

.menu {
	/* effect ---------------------------------------------------------------*/
	list-style-type: none;
	/* layout ---------------------------------------------------------------*/
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
	/* shape ----------------------------------------------------------------*/
}

.menu :AFTER{
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	clear: both;
}

.menu li {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	float: left;
	margin-right: 7px;
	
}

.items ol {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-top: 5px;
	/* shape ----------------------------------------------------------------*/
}

.items ol li {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-bottom: 10px;
	/* shape ----------------------------------------------------------------*/
}

.items p {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-bottom: 20px;
	/* shape ----------------------------------------------------------------*/
}

.dropdown-menu li {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-top: 10px;
	margin-bottom: 10px;
	/* shape ----------------------------------------------------------------*/
}


.menu-icon {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	width: 32px;
	height: 32px;
}

.menu a:link {
	color: #666;
	text-decoration: none;
}

.menu a:visited {
	color: #666;
	text-decoration: none;
}

.menu a:hover {
	color: #FF00FF;
	text-decoration: none;
	filter: mask(img=#FF00FF);
}

.menu a:active {
	color: #0000FF;
	text-decoration: none;
}


.menu-user-icon {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	/* shape ----------------------------------------------------------------*/
	max-width: 32px;
	max-height: 32px;
}

.sns-info {
	/* effect ---------------------------------------------------------------*/
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
	/* layout ---------------------------------------------------------------*/
	position: fixed;
	z-index: 5;
	top: 65px;
	left: -3px;
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 10px;
/* shape ----------------------------------------------------------------*/
	min-width: 32px;
	border-radius: 0px 0px 25px 0px;
	-webkit-border-radius: 0px 0px 25px 0px;
	-moz-border-radius: 0px 0px 25px 0px;
}

.user-name {
	max-width: 80px;
	overflow: hidden;
	font-size: xx-small;
}



.no-selected-card {
	filter: alpha(opacity =                     40);
	-moz-opacity: 0.40;
	opacity: 0.40;
}

.float-card {
	position: relative;
	margin-right: auto;
	z-index: 10;
	top: 40px;
	left: -5px;
	color: rgba(255, 255, 255, 0.8);
	
}

.split-l {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	display: table;
	position: relative;
	left: 5%;
	/* shape ----------------------------------------------------------------*/
	width: 90%;
}

.split-l :BEFORE {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	float: left;
	/* shape ----------------------------------------------------------------*/
}

.split-l :AFTER {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	clear: both;
	/* shape ----------------------------------------------------------------*/
}

.split-l-left {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	float: left;
	position: absolute;
	/* shape ----------------------------------------------------------------*/
	width: 250px;
}

.split-l-right {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-left: 240px;
	/* shape ----------------------------------------------------------------*/
	min-width: 300px;
}

.split-r {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	display: table;
	position: relative;
	left: 5%;
	/* shape ----------------------------------------------------------------*/
	width: 90%;
}

.split-r :BEFORE {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	float: right;
	/* shape ----------------------------------------------------------------*/
}

.split-r :AFTER {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	clear: both;
	/* shape ----------------------------------------------------------------*/
}

.split-r-left {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	margin-right: 360px;
	/* shape ----------------------------------------------------------------*/
	min-width: 240px;
}

.split-r-right {
	/* effect ---------------------------------------------------------------*/
	/* layout ---------------------------------------------------------------*/
	float: right;
	/* shape ----------------------------------------------------------------*/
	width: 350px;
}

