@charset "utf-8";

.portrait.iphone {
	width: 480px;
}

.landscape.iphone {
	width: 720px;
}

.portrait.ipad {
	width: 480px;
}

.landscape.ipad {
	width: 720px;
}

.portrait.android {
	width: 480px;
}

.landscape.android {
	width: 720px;
}

.portrait.other {
	width: 95%;
}

.landscape.other {
	width: 95%;
}