
.iphone .portrait {
	width: 480px;
}

.iphone .landscape {
	width: 720px;
}

.ipad .portrait{
	width: 480px;
}

.ipad .landscape{
	width: 720px;
}

.android .portrait{
	width: 480px;
}

.android .landscape{
	width: 720px;
}

.other .portrait{
	width: 95%;
}

.other .landscape{
	width: 95%;
}

